
<div>
  <p class="text-center">
    Bem-vindo ao <b>Sistema de Transparência de Projetos</b>
  </p>
  <div class="col-md-12">
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum placerat ligula eget malesuada. Mauris non nibh et ipsum fermentum tempor nec eu arcu. Nunc at libero efficitur urna egestas rhoncus sit amet a ipsum. Aenean tristique nunc vitae mi egestas molestie. Phasellus vel porttitor dui. In sit amet lorem nibh. Sed pellentesque mattis sem ut fermentum. Suspendisse congue elementum augue, et sollicitudin metus semper pharetra. Etiam porta ornare tincidunt. Pellentesque porttitor, tortor vel consectetur placerat, ligula urna hendrerit magna, interdum dictum arcu enim ac augue. Integer condimentum nisl at varius ultrices. Nulla facilisi.
    </p>
    <p class="text-center">
      <%= link_to "Ver Projetos", projects_index_path, class: 'btn btn-secondary'%>
      <%= link_to "Métricas", root_path, class: 'btn btn-secondary'%>
    </p>
  </div> 
</div>
