<script type="text/javascript">
  $(function(){
    $(document).ready(function(){
      document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#myTable").DataTable({
      columns: [
        { searchable: false},
        { searchable: false},
        null,
        { searchable: false}
      ]
    });
    });
  })
</script>
<div class="wrapper-all-project">
  <div class="project-list">
    <table id="myTable">
      <thead>
        <tr>
          <th>Coordenador</th>
          <th>Título</th>
          <th>Área de estudo</th>
          <th>Vigência</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= project.coordinator_name%></td>
          <td><%= link_to project.title, project_path(project) %></td>
          <td><%= project.subject_area%></td>
          <td><%= project.start_date.year%> - <%= project.end_date.year%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% if admin_signed_in? %>
  <p class="text-center">
    <%= link_to 'Painel Adminstrativo', admin_index_path, class: 'btn btn-secondary'%>
  </p>
<% end %>