<div class="wrapper-show-project">
  <div class="text-center">
    <div class="">
      <div class="each-field-project">
        <h1>Coordenador</h1>
        <p><%= link_to @project.coordinator.Ori_Nome, @project.coordinator.Ori_EndLattes , target: :_blank %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column3-left">
      <div class="each-field-project">
        <h1>Centro Acadêmico</h1>
        <p><%= find_centro(@project.academic_unit) %></p>
      </div>
    </div>
    <div class="column3-mid">
      <div class="each-field-project">
        <h1>Departamento</h1>
        <p><%= @project.departament%></p>
      </div>
    </div>
    <div class="column3-right">
      <div class="each-field-project">
        <h1>Área de estudo</h1>
        <p><%= @project.subject_area%></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="one-column">
      <div class="each-field-project">
        <h1>Titulo</h1>
        <p><%= @project.title%></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="one-column">
      <div class="each-field-project">
        <h1>Resumo</h1>
        <div class="abstract"><p><%= @project.abstract.html_safe%></p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="one-column">
      <div class="each-field-project">
        <h1>Palavras-chave</h1>
        <p><%= @project.keyword1%> | 
        <%= @project.keyword2%> | 
        <%= @project.keyword3%> | 
        <%= @project.keyword4%></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column2-left">
      <div class="each-field-project">
        <h1>Início do projeto</h1>
        <p><%= @project.start_date%></p>
      </div>
    </div>
    <div class="column2-left">
      <div class="each-field-project">
        <h1>Fim do projeto</h1>
        <p><%= @project.end_date%></p>
      </div>
    </div>
  </div>
  <% if @project.financing%>
    <div class="row">
      <div class="column3-left">
        <div class="each-field-project">
          <h1>Projeto Financiado</h1>
          <p>Sim</p>
        </div>
      </div>
      <div class="column3-left">
        <div class="each-field-project">
          <h1>Financiamento por:</h1>
          <% if @project.financing_is_public %>
            <p>Agência de Fomento</p>
            <p><b><%= @project.organization %></b></p>
          <% else %>
            <p>Empresa</p>
            <p><b><%= @project.organization %></b></p>
          <% end%>
        </div>
      </div>
      <div class="column3-left">
        <div class="each-field-project">
          <h1>Nacional/Internacional</h1>
          <% if @project.financing_is_nacional %>
            <p>Nacional</p>
          <% else %>
            <p>Internacional</p>
          <% end%>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="one-column">
        <div class="each-field-project">
          <h1>Projeto Financiado</h1>
          <p>Não</p>
        </div>
      </div>
    </div>
  <% end %>
  <% if admin_signed_in?%>
    <div class="row">
      <div class="one-column">
        <div class="each-field-project">
          <h1>Recursos Concedidos</h1>
          <p><%= number_to_currency(@project.money_approved, unit: "R$", separator:',', delimiter:'.')%></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one-column">
        <div class="each-field-project">
          <h1>Reembolso</h1>
          <p>
            <% @project.pocket.each do |value| %>
              <%= number_to_currency(value, unit: 'R$', separator:',', delimiter:'.') %> &nbsp
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="center-text">
  <% if admin_signed_in? %>
    <%= link_to 'Voltar', admin_index_path%> | 
    <%= link_to 'PDF', generate_pdf_path(@project.id), target: :_blank%>
  <% else %>
    <%= link_to 'Voltar', root_path%>
  <% end %>
</div>

