
<div class="new-session row">
  <div class="column">
  <div class="login-box">
    <p class="login">Acesse sua conta</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field ">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, 'Senha' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Lembre-me' %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Entrar" %>
      </div>
    <% end %>

    <%= render "admins/shared/links" %>
  </div>
</div>
</div>