$(function() {

  $('.select2').select2();


  var contYears;
  $(".form-wrapper").ready(function(){
    if ($("#pocket").val() != ""){
      contYears = parseInt($("#end_date").val().split('/')[2]) - parseInt($("#start_date").val().split('/')[2]);
      $("#numberOfYears").val(contYears+1);
      $('.wrapper-reembolso').remove();
      $('.reembolso').append(
        "<div class='wrapper-reembolso'>" +
        "</div>"
        );
      //$('.wrapper-reembolso').append("<h3>Preencher utilizando o ponto final(.) como separador das casas decimais</h3>");
      for (var i = 1; i<= contYears+1; i++){
        $('.wrapper-reembolso').append(
          "<ul class='campo'>"+ "<li>" + 
            "<label for='project_pocker'>Desembolso no ano "+ i + "</label><br>" +
            "<input type='text' id='pocket" + i + "'>" + "</li>" + 
          "</ul>"
        );// fim do append
        $("#pocket" + i).val(parseFloat($("#pocket").val().split(" ")[i-1] + "0").toFixed(2));    
      }; // fim do for
      $('.wrapper-reembolso').append(function(){
        var html = "<script>"
        for (var i = 1 ; i<= contYears+1; i++){
          html += "$('#pocket" + i +"').priceFormat({prefix: 'R$',clearOnEmpty: true});"
        }
        return html;
      });
    }; // fim do primeiro if
    if($("#finance input:checked").val() == "true"){
      $("#finance").removeClass('center-text').addClass('column3-left');
      $('#financing-is-public').removeClass('invisible').addClass('column3-mid');
      $("#financing-is-nacional").removeClass('invisible').addClass('column3-right');
    }; 
  }); // fim do load function
  

  $("#academic_unit_select").change(function(){
    $("body").loading();
    $.ajax({
      type: "GET",
      url:"/update_departaments",
      dataType: "script",
      data: {Dep_Local: $("#academic_unit_select option:selected").val()}
    });
    $("body").loading("stop");
  });  
  
  $('#start_date').daterangepicker({
    locale: {
        format: 'DD/MM/YYYY',
        daysOfWeek: ['Do', 'Se', 'Te', 'Qua', 'Qui', 'Sex', 'Sa'],
        monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    },

    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1980,
    maxYear: 2050,
    autoUpdateInput: false,

  }, function(chosen_date) {
    $('#start_date').val(chosen_date.format('DD/MM/YYYY'));
  });


  $('#end_date').daterangepicker({
    locale: {
      format: 'DD/MM/YYYY',
      daysOfWeek: ['Do', 'Se', 'Te', 'Qua', 'Qui', 'Sex', 'Sa'],
      monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    },

    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1980,
    maxYear: 2050,
    autoUpdateInput: false

  }, function(chosen_date) {
    $('#end_date').val(chosen_date.format('DD/MM/YYYY'));
  });

  //Formatando os números

  $('#end_date').formatter({
    'pattern': '{{99}}/{{99}}/{{9999}}',
  }); 

  $('#start_date').formatter({
    'pattern': '{{99}}/{{99}}/{{9999}}',
  });

  $("#money_approved").priceFormat({
    prefix: 'R$',
    clearOnEmpty: true
  });
  
  $('#end_date').focusout(function(){
    contYears = parseInt($("#end_date").val().split('/')[2]) - parseInt($("#start_date").val().split('/')[2]);
    $('.wrapper-reembolso').remove();
    $("#numberOfYears").val(contYears+1);
    $('.reembolso').append(
      "<div class='wrapper-reembolso'>" +
      "</div"
      );
    for (var i = 1 ; i<= contYears+1; i++){
      $('.wrapper-reembolso').append(
        "<ul class='campo'>"+ "<li>" +
          "<label for='project_pocker'>Desembolso no ano "+ i + "</label><br>" +
          "<input type='text' id='pocket" + i + "'>"+ "</li>" +
        "</ul>"
      );    
    };
    $('.wrapper-reembolso').append(function(){
      var html = "<script>"
      for (var i = 1 ; i<= contYears+1; i++){
        html += "$('#pocket" + i +"').priceFormat({prefix: 'R$',clearOnEmpty: true});"
      }
      return html;
    });
  });



  var click = false;
  $("#finance input").click(function(){
    if ($("#finance input:checked").val() == "true" && click == false){
      click = true;
      $('#finance').removeClass('center-text').addClass('column3-left');
      $('#financing-is-public').removeClass('invisible');
      $("#financing-is-nacional").removeClass('invisible');
    } else if ($("#finance input:checked").val() == "false" && click == true){
      $('#finance').addClass('center-text').removeClass('column3-left');
      $('#financing-is-public').addClass('invisible');
      $("#financing-is-nacional").addClass('invisible');
      $(".organization").addClass('invisible');
      click = false;
    };
  });


    $("#financing-is-public input").click(function(){
    if ($("#financing-is-public input:checked").val() == "true"){
      $(".organization").removeClass('invisible');
      // Roda um ajax
      $("#agencia-selector").empty();
      $("#agencia-selector").append("<option value='CNPQ'>CNPQ</option>" + 
                                    "<option value='CAPES'>CAPES</option>" + 
                                    "<option value='FINEP'>FINEP</option>" +
                                    "<option value='FUNCAP'>FUNCAP</option>" +
                                    "<option value='Outro'>Outro</option>");
      
    } else {
      $(".organization").removeClass('invisible');
      // Roda outro ajax
      $("#agencia-selector").empty();
      $("#agencia-selector").append("<option value='EMPRESA PÚBLICA'>Pública</option>" + 
                                    "<option value='EMPRESA PRIVADA'>Privada</option>");

    }

  });
  $("#agencia-selector").change(function(){
    if ($("#agencia-selector").val() == "Outro"){
      $(".outro-text-class").removeClass("invisible");
    } else {
      $(".outro-text-class").addClass("invisible");
    };
  });

  $(".coordinator-select .selection").on("click", function(){
    console.log("Clicou");
  })
  


  $("#form-button").click(function(){
    if ($("#agencia-selector").val() != 'Outro'){
      $("#outro-text-id").val($("#agencia-selector").val());
    } 
    $('#money_approved').val($('#money_approved').priceToFloat());
    var valorFinal = '';   
    for (var i = 1; i<= contYears+1; i++){
      $("#pocket" + i).val($("#pocket" + i).priceToFloat());
      valorFinal += ($("#pocket" + i).val() + ";"); 
    }
    if (valorFinal.split(',').length == 1) {
      $("#pocket").val(valorFinal);
    } else {
      $("#pocket").val();
    }
    
  }); 
})