/* Display Projects Index */
.wrapper-all-project {
  text-align: center;
  width: 100%;
}
.project-list {
  padding: 1vh 1vh;
  margin: 3% 0;
  display: inline-block;
}


/* Display Project Show */
.wrapper-show-project{
margin: 20px 10px;
}
.area-selector{
  width: 100%;
  display: inline-block;
}
  /*One column*/
  .one-column{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    
  }
  /*Two column*/
  .column2-left{
    float: left; 
    width: 50%;
    text-align: center;
    margin-bottom: 25px;
    
  }
  .column2-right{
    float: right; 
    width: 50%;
    margin-bottom: 25px;
  }
  /*Three column*/
  .column3-left{
    float: left; 
    width: 33%;
    margin: 10px 0;
    text-align: center;
  }
  .column3-mid{
    float: left; 
    width: 33%;
    margin: 10px 0;
    text-align: center;
  }
  .column3-right{
    float: right; 
    width: 33%;
    margin: 10px 0;
    text-align: center;
  }

 .keywords, .date-select, .title-project, .abstract-project, .coordinator-project {
  text-align: center;
  margin-top: 10px;
 } 

.center-text {
  text-align: center;
  width: 100%;
}
div.each-field-project h1{
  font-size: 24px;
}
div.each-field-project p{
  padding-top: 10px;
  font-size: 16px;
}
div.each-field-project .abstract{
  text-align: justify;
  margin: 0 20px;
}
div.invisible {
  display: none;
}
.select-size{
  width: 200px;
}



/* Display Project Form*/
input#project_keyword1, input#project_keyword2, input#project_keyword3, input#project_keyword4 {
 width: 160px;
}
ul.campo {
  list-style-type: none;
  display: inline-block;
}
#form-button {
  text-align: center;
  width: 40%;
  margin: 10px 30%;
}
