<!DOCTYPE html>
<html>
  <head>
    <title>Sistema</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'project', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'project', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header" role="banner">
        <div class="brand">
          <div class="">
            <hgroup class="six columns brand-box">
              <div>
                <h1 class="brand-description">Universidade Federal do Ceará</h1>
                <h2 class="brand-title"><a href="/" title="">Pró-Reitoria de Pesquisa e Pós-Graduação</a></h2>
              </div>
            </hgroup>
            <div class="six columns brand-banner">
              <span class="img-over"></span>
              <img src="/images/header-banner.png" height="120" width="447" alt="" />
            </div>
          </div>
        </div>
      </header>

      <%= yield %>
    

      
      <footer id="rodape" role="contentinfo" class="footer">
        <div class="content">
          <div class="row">
            <nav class="nine columns">
              <p class="rodape-endereco">Endereço: Av. da Universidade, 2623 - Benfica - CEP 60020-180 - Fortaleza - CE - Área I do Centro de Humanidades</p>
              <p class="rodape-telefones">Telefone: +55 (85) 3366 7640 / Fax: 3366 7604</p>
              <p class="rodape-telefones">* Desenvolvido pela Coordenadoria de Análise de Dados e Fluxo da Informação / PRPPG</p>
            </nav>
            <nav class="three columns">
            </nav>
          </div>
        </div>
      </footer>
    </div>
  
  </body>

</html>
